.mypage {
  padding: 20px;
  background-color: #ffffff;
  margin: auto;
  max-width: 1440px;
  width: 100%;
}

.paginated-list {
  margin-top: 100px;
  margin-bottom: 100px; /* 두 목록 간의 거리를 늘림 */
}

.paginated-list h2 {
    width: 250px;
    height: 50px;
    background-color: #D5E6F5;
    text-decoration: none;
    color: black;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 20px;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #D5E6F5;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
}

.carousel-button {
  background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 18px;
    color: black;
    background-color:none;
}

.carousel-button img {
  width: 20px;
  height: 20px;
}

.carousel-button.left {
  left: -25px; /* Adjust as needed */
}

.carousel-button.right {
  right: -25px; /* Adjust as needed */
}

.list-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
}

.mypage-carousel-item {
  flex: 0 0 20%;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  width: 200px;
  height: 220px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
  transition: transform 0.2s ease-in-out; 
}

.mypage-carousel-item img {
  width: 200px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 5px;
}

.mypage-carousel-item p {
  margin-top: 10px;
  font-family: 'BMHANNAAir', sans-serif;
  font-size: 20px;
  position: relative;
  z-index: 2; /* 텍스트가 다른 요소 위에 오도록 설정 */
}

.mypage-carousel-item:hover {
  background-color: #B0C4DE; /* 배경색 변경 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.list-container3{
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: row; /* 가로 정렬로 변경 */
  justify-content: space-between; /* 항목들 사이에 일정 간격을 둠 */
}
.carousel-container3{
  display: flex;
  align-items: center;
  position: relative;
  background-color: #D5E6F5;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 100px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #b1c7f0;
  border: none;
  cursor: pointer;
}

.delete-button img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); /* Change color to red */
}

.post-item-mypage {
  padding: 10px 20px;
  background-color: #D5E6F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #a7a7a7;
  font-weight: bold;
}

.post-item-mypage p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.post-item-mypage hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.post-item-mypage .post-date {
  font-size: 14px;
  color: #666;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.pagination-controls span {
  font-size: 14px;
}

.pagination-controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
}

.pagination-controls button.active {
  font-weight: bold;
  color: #333;
}

.profile-card {
  display: flex;
  align-items: center;
  padding: 40px;
  width: 95%;
  height: auto;
  justify-content: flex-start; 
  max-width: 1440px;
  background-color: #f9f9f9; 
  border-radius: 10px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto 50px auto;
}

.profile-image-container {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 3px solid #e0e0e0; /* 좀 더 고급스러운 테두리 색상 */
  width: 150px;
  height: 150px;
  margin-right: 30px;
  background-color: #fff;
  margin-left: 50px;
}

.profile-image {
  width: 90%;
  height: auto;
  margin: 0 0 5px 20px;
}

.profile-info {
  text-align: left;
  max-width: 1440px;
  margin-left: 50px; 
  display: flex;
  align-items: flex-start;
  font-family: 'BMHANNAAir', sans-serif;
  flex-direction: column
}

.profile-nickname {
  font-weight: bold;
  font-size: 20px; /* 닉네임을 더 크게 */
  color: #333; /* 진한 회색으로 변경 */
  margin-bottom: 5px;
}

.profile-name, .profile-rank{
  color: #555; /* 더 부드러운 색상으로 변경 */
  font-size: 18px;
}

.profile-name {
  font-weight: normal; /* 일반 글씨체 */
}

.mypage-course-options {
  max-width: 1440px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #D5E6F5;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  gap: 10px;
}

.mypage-course-options:hover{
  background-color: #B0C4DE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.mypage-info-function {
  max-width: 1440px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 700px;
}

.mypage-info-modify, .mypage-info-withdraw {
  width: 130px;
  height: 50px;
  background-color: #D5E6F5;
  text-decoration: none;
  color: black;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 18px;
}

.mypage-info-modify:hover {
  background-color: #c8d2db;
}



.mypage-info-withdraw:hover {
  background-color: #c8d2db;
}

.profile-Submit{
  display: flex; 
  width: 0 auto; 
  max-width: 1440px; 
  justify-content: center;
  flex-direction: column;
}

.modify {
  display: inline-block; /* 요소를 가로로 배치 */
  width: 150px; /* 버튼의 너비를 넓게 설정 */
  text-align: center; /* 텍스트를 중앙으로 정렬 */
  padding: 10px 20px; 
  margin: 0 0 17px 10px;
  background-color: #D5E6F5; 
  color: #000; /* 텍스트 색상을 검은색으로 설정 */
  border: none; /* 테두리를 없앰 */
  border-radius: 5px; /* 모서리를 둥글게 처리 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
  font-size: 18px; 
}

.modify:hover {
  background-color: #b5cce5;
}

.usedelete {
  display: inline-block; /* 요소를 가로로 배치 */
  width: 150px; /* 버튼의 너비를 넓게 설정 */
  text-align: center; /* 텍스트를 중앙으로 정렬 */
  padding: 10px 20px; 
  margin: 0 0 17px 10px;
  background-color: #D5E6F5; 
  color: #000; /* 텍스트 색상을 검은색으로 설정 */
  border: none; /* 테두리를 없앰 */
  border-radius: 5px; /* 모서리를 둥글게 처리 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
  font-size: 18px; 
}

.usedelete:hover {
  background-color: #b5cce5;
}

.mypage-course-item{
  flex: 0 0 20%;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'BMHANNAAir', sans-serif;
  font-size: 20px;
}

.footer {
  max-width: 1440px;
  width: 100%;
}

.map-container {
  width: 100%;
  height: 400px; /* 지도 높이 조절 */
}

.map {
  width: 100%;
  height: 100%;
}